.register{
    background-image: url("https://wallpapers.com/images/hd/athletic-themed-adidas-poster-o03o9tfe9qdsedn1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}   